<button class="add" (click)="addNew()">{{isActive ? "Hide form" : "+ Add NEW Drive"}}r</button>

<div *ngIf="isActive">
  <form [class]="newDriverForm.invalid ? 'red' : '' " [formGroup]="newDriverForm"
        (ngSubmit)="postDriver()"><span class="title">Add NEW Driver form:</span>

    <div class="inp">
      <label> <span class="span">Name:</span>
        <input type="text" formControlName="name" required
               placeholder="name">
      </label>
      <p class="error" *ngIf="newDriverForm.get('name').hasError('required')">Enter name</p>
      <p class="error" *ngIf="newDriverForm.get('name').hasError('pattern')">Enter valid name</p>
    </div>

    <div class="inp">
      <label> <span class="span">Email:</span>
        <input type="email" formControlName="email" placeholder="Enter your Email">
      </label>
      <p class="error" *ngIf="newDriverForm.get('email').hasError('required')">Enter Email</p>
    </div>

    <button type="submit" [disabled]="newDriverForm.invalid"> Submit</button>
  </form>
</div>


<div *ngFor="let driver of drivers">
  {{driver | json}}
  <button routerLink="{{driver.id}}">details...</button>
</div>
